LenguajeDeMarcas/RepasoAndres/cursos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cursos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="curso" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"></xs:element>
                                        <xs:element name="descripcion" type="xs:string"></xs:element>
                                        <xs:element name="duracion" type="xs:int"></xs:element>
                                        <xs:element name="nivel" type="xs:string"></xs:element>
                                        <xs:element name="precio" type="xs:double"></xs:element>
                                        <xs:element name="fechaInicio" type="xs:date"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="estudiantes" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="estudiante" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"></xs:element>
                                        <xs:element name="email" type="xs:string"></xs:element>
                                        <xs:element name="fechaNacimiento" type="xs:date"></xs:element>
                                        <xs:element name="cursosMatriculados">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cursoRef" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="refCurso"
                                                                type="xs:IDREF" use="required"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>